* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body,
html {
  font-family: "Lato", "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
}

#menu-small {
  padding-top: 20px;
}

nav {
  height: 80px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Roboto", "Lato", "Courier New", Courier, monospace;
  font-weight: bold;
}

ul li {
  padding: 20px;
}

ul li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

ul li a:hover {
  color: #ccc;
}

.logo,
.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px;
}

.social-icons {
  color: red;
}

.social-icons img {
  cursor: pointer;
}

.social-icons img:hover {
  opacity: 0.7;
}

.social-icons img:nth-child(1) {
  width: 50px;
}

.social-icons img:nth-child(2) {
  width: 30px;
  margin: 0 10px;
}

.social-icons img:nth-child(3) {
  width: 35px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 60px 30px 60px; */
  background-color: #333;
  margin: 30px 0;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.gallery img:hover {
  opacity: 0.7;
  transition: all 0.2s ease;
}

footer {
  display: flex;
}

.about,
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 0 40px 0;
  width: 50%;
}

.contact {
  padding-left: 20px;
}

.about h3,
.contact h3 {
  font-family: "Roboto", "Lato", "Courier New", Courier, monospace;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

.about p,
.contact p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3rem;
}

.photographer {
  padding: 20px 20px 20px 0;
}

.photographer > img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.about-me,
.about-me h2,
.about-me p + p {
  padding: 20px 0;
}

.about-me p {
  line-height: 1.4rem;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 25px 25px 25px 0;
}

.categories .card {
  width: 300px;
  border: 1px solid #f7f7f7;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(214, 214, 214, 1);
  box-shadow: 0px 0px 5px 5px rgba(214, 214, 214, 1);
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categories .card:hover {
  opacity: 0.85;
  transition: 0.3s ease;
}

.categories .card img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

.categories .card h3 {
  padding: 10px 0;
}

/* 
MEDIAS QUERIES
*/

@media screen and (max-width: 760px) {
  .gallery,
  footer {
    padding: 0 60px;
  }

  hr {
    margin: 0 60px;
  }

  .gallery {
    background-color: #fff;
  }

  footer {
    flex-direction: column;
  }

  .about,
  .contact {
    padding: 0;
    width: 100%;
  }

  .contact {
    padding-bottom: 50px;
  }
}

#menu-large {
  display: none;
}

@media screen and (min-width: 1120px) {
  #menu-small {
    display: none;
  }

  .main {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
  }

  .container {
    position: absolute;
    right: 0;
    top: 0;
  }

  #menu-large {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
    position: fixed;
    width: 55%;
    top: 30%;
    left: 0;
  }

  #menu-large nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 40px;
  }

  #menu-large nav ul li {
    margin: 0;
    padding: 0;
  }

  .logo-large img {
    width: 200px;
  }
}
