{% extends 'layout.html' %}
{% load static %}

{% block title %} Newbaby | Sobre Mim {% endblock title %}

{% block body %}
<div class="photographer">
	<img src="{% static 'images/www/fotografo.jpg' %}"/>
</div>
	<div class="about-me">
		<h2>Renata Pinheiro</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ab! Architecto nostrum eos repellat libero
			enim, laborum accusantium.
		</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ab! Architecto nostrum eos repellat libero
			enim, laborum accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ab! Architecto
			nostrum eos repellat libero
			enim, laborum accusantium.
		</p>
	</div>
	{% endblock body %}