{% extends 'layout.html' %}
{% load static %}
{% block title %} Newbaby | Sobre Mim {% endblock title %}
{% block body %}
<div class="photographer">
  <img src="{% static 'images/www/fotografo.jpg' %}" />
</div>
<div class="about-me">
  <h2>Renata Pinheiro</h2>
  <p>
    Me formei em administração de empresas com a dificuldade e persistência de
    quem aos 18 anos precisava trabalhar e estudar para correr atrás dos sonhos
    e da estabilidade financeira. Trabalhei na área financeira de grandes
    empresas por 6 anos sem felicidade. Saí do emprego que me deixava infeliz e
    tentei diversas coisas, mas tudo sem sucesso. Fiquei grávida. Na gravidez da
    primeira filha, Luiza, desejei muito realizar um ensaio fotográfico Newborn,
    porém, sem recursos financeiros, desejei arriscar com uma amiga que tinha o
    equipamento a fazer uma sessão caseira. A partir daí, começou uma procura de
    amigos e conhecidos para realizarmos as fotos de gestantes e de seus bebes.
    Com a demanda aumentando, houve a necessidade de um curso! A partir daí, não
    parei mais! O amor pela fotografia cresceu e tornou-se uma realização de
    vida. Hoje, a New Baby cresce a cada dia no mercado da fotografia atendendo
    a clientes de Uberaba e região. Trabalho com um estilo de fotografia
    clássica. Gosto de pensar que daqui a 10, 20 anos, as fotos que realizei
    hoje não vao parecer bregas ou “fora de moda”. Admiro estilos lúdicos e bem
    contrastados, mas adotei uma fotografia clean e clássica.
  </p>
</div>
{% endblock body %}
