<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/www/styles.css' %}" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <div class="main">
      <header id="menu-small">
        <div class="logo">
          <img src="{% static 'images/www/logo.png' %}" alt="Logo" />
        </div>
        <nav>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Galeria</a>
            </li>
            <li>
              <a href="">Sobre mim</a>
            </li>
          </ul>
        </nav>
        <div class="social-icons">
          <img src="{% static 'images/www/instagram.png' %}" alt="Intagram" />
          <img src="{% static 'images/www/whatsapp.png' %}" alt="Whatsapp" />
          <img src="{% static 'images/www/facebook.png' %}" alt="Facebook" />
        </div>
      </header>
      <header id="menu-large">
        <div class="logo-large">
          <img src="{% static 'images/www/logo.png' %}" alt="Logo" />
        </div>
        <nav>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Galeria</a>
            </li>
            <li>
              <a href="">Sobre mim</a>
            </li>
          </ul>
        </nav>
        <div class="social-icons">
          <img src="{% static 'images/www/instagram.png' %}" alt="Intagram" />
          <img src="{% static 'images/www/whatsapp.png' %}" alt="Whatsapp" />
          <img src="{% static 'images/www/facebook.png' %}" alt="Facebook" />
        </div>
      </header>
      <div class="container">
        {% block body %} {% endblock body %}
      </div>
    </div>
  </body>
</html>
